<%# views/moon/edit.ejs %>
<%- include ../partials/editplate %>

<h1>Edit a moon</h1>
<h2>edit.ejs</h2>

<form action="<%= `/moon/${moon.id}?_method=PUT` %>" method="POST">
  <label for="date">Edit This Date</label>

  <br />

  <input id="date" type="text" name="date" value="<%= moon.moon_date %>"/>

  <br />
  <br />

  <label for="time">Edit This Time</label>

  <br />

  <input id="time" type="text" name="time" value="<%= moon.moon_time %>"/>

  <br />
  <br />

  <label for="imageurl">ImageURL: </label>
  <input id="imageurl" type="url" name="imageurl" style="width: 400px;" value="<%= `http://api.usno.navy.mil/imagery/moon.png?date=${moon.moon_date}&time=${moon.moon_time}` %>" />

  <br />

  <input type="submit" value="Save changes" />
</form>
<br />

<a href="<%= `/moon/${moon.id}` %>">Cancel</a>

<%- include ../partials/end %>