<%# views/moon/edit.ejs %>
<%- include ../partials/editplate %>

<div id="media">
<h1>Alter your timelog</h1>

<form action="<%= `/moon/${moon.id}?_method=PUT` %>" method="POST">
  <label for="date">Edit the Date</label>

  <br />

  <input id="date" type="text" name="date" value="<%=moon.moon_date %>"/>

  <br />
  <br />

  <label for="time">Edit the Time</label>

  <br />

  <input id="time" type="text" name="time" value="<%=moon.moon_time %>"/>

  <br />
  <br />
  <br />


<label for="body_id">Planetary Body:</label>

<select id="body_id" name="body_id">
  <% body.forEach(body => { %>
    <option
      value="<%= body.id %>"
      selected="<% moon.body_id == body.id %>">
      <%= `${body.bodies}` %>
    </option>
    <% }) %>
</select>

<br />
<br />
  <input type="submit" value="Save changes" />
</form>
<br />
<a href="<%= `/moon/${moon.id}` %>">Cancel</a>
</div>
<%- include ../partials/end %>