<%# views/moon/index.ejs %>
<%- include ../partials/boilerplate %>
<div id="media">
  <!-- <p>index.ejs</p> -->
  <h1>Astronomer's Guide</h1>
    <div id="description">
      <p>To discover your own planetary body, all you need is a date and time, then pick your destination.</p>
  <a href='/moon/new' id="add">Discover A New Planetary Object</a>
</div>

<div class="moon">
  <p id="title">Travel history:</p>
<% moon.forEach(moon => { %>


<!-- <# table for dates, times and location > -->
<table>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>
        <a href="<%= `/moon/${moon.id}` %>">
        <%=moon.moon_date %>
        </a>
      </td>
      <td>
        <%= moon.moon_time %>
      </td>
    </tr>
</table>

<% }) %>

<br />
</div>
</div>
<%- include ../partials/end %>