<%# views/moon/index.ejs %>
<%- include ../partials/boilerplate %>
<p>index.ejs</p>
<h1>Welcome</h1>

<% moon.forEach(moon => { %>
<div class="moon">
<table>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>
        <a href="<%= `/moon/${moon.id}` %>">
        <%=moon.moon_date %>
        </a>
      </td>
      <td>
        <p><%= moon.moon_time %></p>
      </td>
    </tr>
</table>

<% }) %>

<br />

<a href='/moon/new' id="add">Add a Time and Date!</a>
</div>

<h1>search for date</h1>
<form action="/moon/search" method="POST">
  <input type="text" name="date" />
  <input type="submit" value="Submit Date" />
</form>

<%- include ../partials/end %>