<%# views/moon/index.ejs %>
<%- include ../partials/boilerplate %>

<p>index.ejs</p>
<h1>Welcome</h1>

<div class="moon">
<% moon.forEach(moon => { %>

<table>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>
        <a href="<%= `/moon/${moon.id}` %>">
        <%=moon.moon_date %>
        </a>
      </td>
      <td>
        <%= moon.moon_time %>
      </td>
    </tr>
</table>

<% }) %>

<br />
</div>
<a href='/moon/new' id="add">Add a Time and Date!</a>


<h1>search for date</h1>
<form action="/moon/search" method="POST">
  <input type="text" name="date" />
  <input type="submit" value="Submit Date" />
</form>

<%- include ../partials/end %>