<%# views/moon/show.ejs %>
<%- include ../partials/editplate %>

<h1>Show.ejs</h1>

<h1><%= moon.moon_date %></h1>
<h1><%= moon.moon_time %></h1>

<div id="image">
  <img src="<%= moon.imageurl %>">
</div>

<br />

<a href="/moon">Back to index page</a>
<br />
<a href="<%= `/moon/${moon.id}/edit` %>">Edit Details</a>
<br />

<form action="<%= `/moon/${moon.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>

<% if (bodyinfo) { %>
  <p> Planetary Info: <%= `${bodyinfo}` %></p>
<% } %>
<%- include ../partials/end %>