<%# views/moon/show.ejs %>
<%- include ../partials/editplate %>

<h1>Show.ejs</h1>

<h1><%= moon.moon_date %></h1>
<h1><%= moon.moon_time %></h1>
<img src="<%= moon.imageurl %>">

<br />

<a href="/moon">Back to index page</a>
<br />
<a href="<%= `/moon/${moon.id}/edit` %>">Edit Details</a>
<br />

<img src="http://api.usno.navy.mil/imagery/moon.png?date=5/28/1900&time=5:13"/>

<form action="<%= `/moon/${moon.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>

<%- include ../partials/end %>