<%# views/moon/show.ejs %>
<%- include ../partials/editplate %>

<div id="media">
  <h1>You have time traveled to</h1>

  <h1><%= moon.moon_date %></h1>

  <h1>at <%= moon.moon_time %></h1>

<!--   <%# shows planetary body from second model %> -->
  <% if (body) { %>
    <h1> Location: <%= `${body.bodies}` %></h1>
  <% } %>

</div>


  <div id="image">
    <img src="<%= moon.imageurl %>">
  </div>

  <br />
<div id="footer">
  <a href="/moon">Back to Home</a>
  <br />
  <a href="<%= `/moon/${moon.id}/edit` %>">Edit Details</a>
  <br />

  <form action="<%= `/moon/${moon.id}?_method=DELETE` %>" method="POST">
    <input type="submit" value="Delete" />
  </form>

<%- include ../partials/end %>